/* @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');*/
body{
    font-family: 'Itim', cursive;
    text-align: center;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
.header{
    margin: auto;
    margin-top: -28px;
    box-shadow: 0 0 0 1px rgb(0, 0, 0, 0.2);
}
.header a{
    text-decoration: none;
}
.main-div{
    margin: auto;
}
.title{
    font-size:larger;
    margin-bottom: 6px;
}
.image-class{
    width:65%;
    margin: auto;
}
.buttons{
    padding-top:5px;
    width:100%;

}

.buttons div{
    width: 37%;
    height: 65px;
    margin-left: auto;
    margin-top: -8%;
    background-color: rgb(48, 46, 136);
    border: none;
    color: white;
    padding: 1%;
    cursor: pointer;
    font-size: 30px;
    border-radius: 15px;
}
.buttons div:hover{
    background-color: black;
}
#nextButton{
    margin-right: 10%;
    margin-top: -1%;
}
#prevButton{
    margin-left: 10%;
    margin-top: -82.5px;
}
.main-fream{
    margin: auto;
    width: 88%;
    height: fit-content;
    padding:5px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}
.main-fream a{
    text-decoration: none;
}
.main-fream img{
    width: 80%;
    border-radius:5px;
    margin-left: auto;
    margin-right: auto;
}
.title-alpum{
    text-align: center;
    margin-top: -12%;
    font-size: 35px;
}
.title-alpum p{
    color: white;
}
.card{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top:-2%;
    padding: 5px;
    margin-bottom: 25px;
}
.loding{
    width: 100%;
    margin: auto;
}
.imgeees{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 3px;
    margin-top: 6%;
}
.card-cild{
    width: 90%;
}
.card img{
    width: 100%;
    border-radius: 15px;
}
.toolbar a {
    text-decoration:none;
    width:47%;
 }
.download{ 
    width: 47%;
    height: 65px;
    margin-right: auto;
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 1%;
    cursor: pointer;
    font-size: 30px;
    border-radius: 15px;
}
.download p{
    margin: auto;
}
.download:hover{
    background-color: RoyalBlue;
}
.like_button{
    width: 47%;
    height: 65px;
    margin-left: auto;
    margin-top: -8%;
    background-color: #ff1e56;
    border: none;
    color: white;
    padding: 1%;
    cursor: pointer;
    font-size: 30px;
    border-radius: 15px;
}
.like_button p{
    margin: auto;
}
.like_button:hover{
    background-color: #E91E63;
}
.tool-bar{
    padding-top:5px;
    width:100%;
}
.tool-bar div{
    width: 37%;
    height: 65px;
    margin-left: auto;
    color: white;
    padding: 1%;
    cursor: pointer;
    font-size: 30px;
    border-radius: 15px;
}
.get-random-wallpaper{
    margin-left: 10% !important;
    margin-top: auto;
    background-color: #118a11da;
}
.get-random-wallpaper:hover{
    background-color: #118a11e0;
}
.my-favrots{
    margin-right: 10%;
    margin-top: -9.5%;
    background-color: #ff1e56;
}
.my-favrots:hover{
    background-color: #E91E63;
}
.footer{
    font-size:25px;
    margin: auto;
    box-shadow: 0 0 0 1px rgb(0, 0, 0, 0.2);
}